{% extends 'index.html' %} {%block content%}
<h1 class="display-2 text-center">All Tasks</h1>
<form class="d-center" action="{{url_for('show_create_task_form')}}" method="get">
	<button class="btn btn-success">Create Task</button>
	<button class="btn btn-info daily-reminder-button" type="submit" formaction="{{url_for('send_daily_reminder')}}"> Daily Reminder </button>
</form>
<div class="container">
	<ul>
		{% for task in tasks %}

		<li class="card">
			<div class="card-body">
				<div class="card-title">
					<h4>
						<span class="badge text-bg-dark fw-bold">
							<a href="{{url_for('show_task', id=task.id)}}" class="badge text-bg-dark fw-bold"> {{task.title}} {{task.id}} </a>
						</span>
						<span class="badge bg-secondary fw-semibold due-time" data-duetime="{{task.due_time}}"></span>
						<span class="m-3 fw-semibold">{%if task.is_completed%}Completed{%else%}Incomplete{%endif%}</span>
					</h4>
				</div>
				<form class="card-text" action="#" method="get">
					<p class="text-end">
						Assigned To: {%for user in task.users%}
						<a href="/users/{{user.id}}" class=""><p class="text-end">{{user.first_name}} {{user.last_name}}</p></a>
						{%endfor%}
					</p>
					<div class="row">
						<div class="col">
							<button
								data-task-id="{{task.id}}"
								data-assignee-id="{{current_user.id}}"
								class="btn btn-primary completion-status-button">
								Mark complete
							</button>

							<button class="btn btn-info" formaction="{{url_for('assign_user_to_task', id=task.id)}}" formmethod="get">
								Assign User
							</button>
							<button class="btn btn-warning" formaction="{{url_for('remind_for_task', task_id=task.id)}}" formmethod="post">
								Remind
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button formaction="{{url_for('show_edit_task_form', id=task.id)}}" formmethod="get" class="btn btn-success">
								Edit
							</button>
							<button
								type="button"
								class="btn btn-outline-danger"
								data-bs-toggle="modal"
								data-bs-target="#staticBackdrop{{task.id}}">
								Delete
							</button>

							<!-- Modal -->
							<div
								class="modal fade"
								id="staticBackdrop{{task.id}}"
								data-bs-backdrop="static"
								data-bs-keyboard="false"
								tabindex="-1"
								aria-labelledby="staticBackdropLabel"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">Are you sure you want to delete this?</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger delete-task-button" data-task-id="{{task.id}}">
												Delete
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</li>
		{%endfor%}
	</ul>
</div>
{%endblock%}
