{% extends 'index.html' %} {%block content%}
<form action="{{url_for('create_task')}}" method="post">
	{{ form.hidden_tag() }}
	<!--add type=hidden form fields -->

	{% for field in form if field.widget.input_type != 'hidden' %}

	<p>{{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {% endfor %}</p>

	{% endfor %}

	<button class="btn btn-primary create-task-button" type="submit">Submit</button>
	<a class="btn btn-info" href="{{url_for('show_all_tasks')}}">Back</a>
</form>
{%endblock%}
