{% extends 'index.html' %} {%block content%}
<div class="container">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
				<a href="#" class="text-dark text-decoration-none">
					{{task.title}} - {%if task.is_completed%}Completed{%else%}Incomplete{%endif%} - Due By: {{task.due_time}}
				</a>
			</h5>
			<p class="card-text">Description: {{task.description}}</p>
			<p class="card-text">Responsibility Type: {{task.resp_type}}</p>
			<a class="btn btn-primary" href="{{url_for('assign_user_to_task', id=task.id)}}">Assign User</a>
			<a href="{{url_for('show_edit_task_form', id=task.id)}}" class="btn btn-secondary">Edit</a>
			<form action="{{url_for('remind_for_task', task_id=task.id)}}" method="post" class="d-inline-block">
				<button class="btn btn-warning">Remind</button>
			</form>
			<button class="d-inline-block btn btn-danger delete-task-button" data-task-id="{{task.id}}">Delete</button>
		</div>
	</div>
</div>
<div class="container">
	<ul>
		<h3 class="header-4">Assigned Users</h3>
		{% for user in users%}

		<li class="card">
			<div class="card-body">
				<div class="card-title">
					<h4>
						<span class="badge text-bg-dark fw-bold">{{user.first_name}} {{user.last_name}}</span>
						<!-- <span class="badge bg-secondary fw-semibold">Assigned by: </span> -->
						<span class="m-3 fw-semibold"></span>
					</h4>
				</div>
				<form class="card-text" action="#" method="post">
					<div class="row">
						<div class="col">
							<a href="{{url_for('show_edit_user_form', id=user.id)}}" class="btn btn-success">Edit</a>
							<button href="#" formaction="{{url_for('delete_task', id=task.id)}}" class="btn btn-outline-danger">
								Delete
							</button>
						</div>
					</div>
				</form>
			</div>
		</li>
		{%endfor%}
	</ul>
</div>

{%endblock%}
