{% extends 'index.html' %} {%block content%}

<h4 class="header-4">Create User</h4>
<form action="{{url_for('create_user')}}" method="post">
	{{ form.hidden_tag() }}
	<!--add type=hidden form fields -->

	{% for field in form if field.widget.input_type != 'hidden' %}

	<p>{{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {% endfor %}</p>

	{% endfor %}

	<button class="btn btn-primary" type="submit">Create User</button>
	<a class="btn btn-info" href="{{url_for('show_all_users')}}">Back</a>
</form>
{%endblock%}
