{% extends 'index.html' %} {%block content%}
<h1 class="display-3">Edit User</h1>

<div class="container" id="edit-user-form">
	<form action="#" method="get">
		{{ form.hidden_tag() }}
		<!--add type=hidden form fields -->

		{% for field in form if field.widget.input_type != 'hidden' %}

		<p>
			{{ field.label }} {{ field }} {% for error in field.errors %} {%if field.label == "username"%}
			<span class="display:hidden username-error"></span>
			{%endif%} {% endfor %}
		</p>

		{% endfor %}

		<button class="btn btn-primary edit-user-button" data-user-id="{{user.id}}">Submit</button>
		<a class="btn btn-info" href="/">Back</a>
	</form>
</div>
{%endblock%}
