{% extends "base.html" %} {%block title %} Home {%endblock%} {%block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarcollapser"
			aria-controls="navbarcollapser"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarcollapser">
			<div class="navbar-nav">
				<a class="nav-item nav-link" id="navUsers" href="/users">Users</a>
				<a class="nav-item nav-link admin" href="{{url_for('show_all_tasks')}}" id="navTasks">Tasks</a>
				<a class="nav-item nav-link" href="{{url_for('show_create_task_form')}}" id="navCreateTask">Create Task</a>
				<a class="nav-link" href="/login" id="navLogin">Login</a>
				<a class="nav-link" href="/signup" id="navSignup">Signup</a>
				<a class="nav-link" href="{{url_for('logout')}}" id="navLogout">Logout</a>
				<a href="{{url_for('show_user', id=current_user.id)}}" class="nav-item nav-link" id="navMyProfile">My Profile</a>
			</div>
		</div>
	</div>
</nav>
<p class="d-inline">{{current_user}} | authenticated: {{current_user.is_authenticated}} | is_admin:{{current_user.is_admin}}</p>
<form id="change-form" class="d-inline" method="post" action="/users/change">
	<button class="d-inline btn btn-success" type="submit">Change</button>
</form>

{%block content%} {%endblock%} {%endblock%}
