{% extends "base.html" %}

{%block title %}
Home
{%endblock%}



{%block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapser" 
            aria-controls="navbarcollapser" aria-expanded="false" aria-label="Toggle navigation">
            HI<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapser">
            <div class="navbar-nav ">


                <a class="nav-item nav-link " href="#">Users</a>
                <a class="nav-item nav-link" href="#">My Tasks</a>
                <a class="nav-item nav-link " href="#">Create Task</a>


                <a class="nav-link " href="{{url_for('login')}}">Login</a>
                <a class="nav-link " href="{{url_for('signup')}}">Sign Up</a>


                <a class="nav-link " href="#">Logout</a>


            </div>
        </div>
    </div>
</nav>


{%endblock%}