{% extends 'index.html' %}



{%block content%}
    <form action="/signup", method="post">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->

        {% for field in form
                if field.widget.input_type != 'hidden' %}

            <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
            </p>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Sign Up</button>
        <a class="btn btn-info" href="{{url_for('show_homepage')}}">Back</a>
    </form>
{%endblock%}