{% extends 'index.html' %} {%block content%}
<h1 class="display-3">Assign User</h1>

<div class="container">
	<form action="{{url_for('assign_user_to_task', id=task.id)}}" method="post">
		<p class="display-6 fw-bold">{{task.title}} - Due: {{task.due_time}} - Task Type: {{task.resp_type}}</p>

		{{ form.hidden_tag() }}
		<!--add type=hidden form fields -->

		{% for field in form if field.widget.input_type != 'hidden' %}

		<p>
			{{ field.label }} {%if field.type == 'SelectMultipleField'%} {{ field(rows=4, multiple=False) }} {%else%} {{field}}
			{%endif%} {% for error in field.errors %} {{ error }} {% endfor %}
		</p>

		{% endfor %}

		<button class="btn btn-primary" type="submit">Submit</button>
		<a class="btn btn-info" href="{{url_for('show_all_tasks')}}">Back</a>
	</form>
</div>
{%endblock%}
